[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
Django = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
humanize = "*"
ipython = "*"

[requires]
python_version = "3.8"
