[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
Django = "*"
django-extensions = "*"
dj-database-url = "*"
whitenoise = "*"
pyparsing = "*"
pydot = "*"
humanize = "*"
flake8 = "*"
flake8-import-order = "*"
flake8-builtins = "*"
flake8-print = "*"
flake8-django = "*"
django-debug-toolbar = "*"
django-silk = "*"
celery = "*"
django-celery-results = "*"
termcolor = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
django-redis = "*"

[requires]
python_version = "3.8"
