Django
django-extensions
dj-database-url
whitenoise
pyparsing
pydot
humanize
flake8
flake8-import-order
flake8-builtins
flake8-print
flake8-django
django-debug-toolbar
django-silk
celery
django-celery-results
termcolor
requests
beautifulsoup4
lxml
django-redis
ipython